.sirowaku{background-color:white;
	padding:1em;
	border:solid 1ex black;
	width:50%;
	margin:1ex;
	border-radius:20em;}
.fllf{float:left;}
li.fllf{float:left;display:block;margin:1em;}
.YURU{background-color:rgb(0,150,150);color:white;}